.blog {

    &__post__article {
        padding-bottom: 60px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 70px;
    }

    &__post__text {
        margin-bottom: 40px;
    }
    
}
